<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Bienvenidos a la Biblioteca</h1>
  <p>Sientase en confianza de navegar por nuestra extensa colección de Libros, recuerde que el conocimiento
  está en la lectura. El saber es poder!</p>
  <br/>
  <%- linkTo('Lista de Libros', bookPath(''), {class: 'btn'}); %>
  <%- linkTo('Lista de Usuarios', userPath(''), {class: 'btn'}); %>
</div>
