<div class="hero-unit">
  <h2 class="login"><%= user.login %></h2>
  <%- linkTo('Modificar Usuario', editUserPath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Regresar a la lista', userPath(''), {class: 'btn pull-right'}); %>
</div>


