<div class="control-group">
  <label for="title" class="control-label">Título</label>
  <div class="controls">
    <%- contentTag('input', book.title, {type:'text', class:'span6', name:'title'}) %>
  </div>
</div>
<div class="control-group">
  <label for="status" class="control-label">Estado</label>
  <div class="controls">
    <%- contentTag('input', book.status, {type:'text', class:'span6', name:'status'}) %>
  </div>
</div>
